{% extends "base.html" %}

{% block content %}


  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <form action="" method="POST" role="form">
        <legend>Try keyword search!</legend>
      
        <div class="form-group">
          <label for="">Keywords:</label>
          <input type="text" id="kw" name="kw" class="form-control" placeholder="Keywords">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>


 
{% endblock %}